/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #EEFFEE;
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 10px;
}

div.post {
    border: 1px solid #000000;
    padding: 10px;
    margin: 20px;
}

div.comment-box {
    border: 1px solid #000000;
    padding: 20px;
    padding-top: 5px;
    margin: 20px;
    width: 300px;
}

div.comment-form {
}

div.comments {
}

canvas {
    background-color: #FFFFCC;
    border: 1px solid #000000;
    border-radius: 25px;
}